h1 {
	text-align: center;
	border-style: solid;
	border-width: 5px;
	font-family: Courier;
	color: #FF6633;
}

.post {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: black;
}

.query-words {
	font-weight: bold;
}

.timestamp {
	font-size: 12px;
	font-style: italic;
}

.title {
	font-size: 30px;
	font-weight: bold;
}

.blogpost {
	/* color: #C0C0C0; */
	color: black;
}
